doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact
        
        link(rel="stylesheet", href="style.css")
    body 
        include ./header.pug

        h1= "Send me a message!"
            form(name="myForm" method="POST" action="/form")
                p.label Your name:
                    input(type="text" name="name" placeholder="name")
                p.label Your email:
                    input(type="text" name="email" placeholder="email")
                p.label Your message:
                    input(type="text" name="message" placeholder="message")
                input(type="submit" value="submit" id="submit")

    script(src="script.js") 