doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/public/style.css")
        link(rel="stylesheet", type="text/css" href="style.css")
     
    body 
        include ./header.pug
            
        h3 The best bootcamp around the world
        div.content
            p=welcome
        ul
            each stack in product
                li=stack
        include ./footer.pug
        script(src="/script.js", async, defer,)

